extends layout

block content
    div.container
        h1.title StackOverflow
        h3.unanswered Unanswered Questions
        div.row
            div.col-md-3
                h3 Tag Listing
                p See a full listing of the tags and the recent unanswered questions associated with them
                a(href="/listtags") See Tag Listing
            div.col-md-3
                h3 Subscribe
                p Add your email and schedule a time to get a digest version of unanswered questions to your inbox
                a(href="/subscribe") Subscribe
